[submodule "dot_config/ext_nvim"]
	path = dot_config/external_nvim
	url = https://github.com/0x0003/nvimrc.git
[submodule "dot_config/ext_vim"]
	path = dot_config/external_vim
	url = https://github.com/0x0003/vimrc.git
[submodule "ext_scripts"]
	path = external_scripts
	url = https://github.com/0x0003/scripts.git
