[submodule "dot_config/ext_nvim"]
	path = dot_config/nvim_submodule
	url = https://github.com/0x0003/nvimrc.git
[submodule "dot_config/ext_vim"]
	path = dot_config/vim_submodule
	url = https://github.com/0x0003/vimrc.git
[submodule "ext_scripts"]
	path = scripts_submodule
	url = https://github.com/0x0003/scripts.git
[submodule "dot_config/home-manager_submodule"]
	path = dot_config/home-manager_submodule
	url = https://github.com/0x0003/home.nix
