# === Web UI ===
WEB_UI=false
WEB_CACHE_MB=50
WEB_DATA_PATH=/home/{{ .user_name }}/.local/share/explo
WIZARD_COMPLETE=true

# === Discovery Config ===
DISCOVERY_SERVICE=listenbrainz
LISTENBRAINZ_USER={{ decrypt (include "secrets/musicbrainz-usr.age") | trim }}
LISTENBRAINZ_USER_TOKEN={{ decrypt (include "secrets/listenbrainz-api-key.age") | trim }}
# 'playlist' to fetch weekly playlist (50 songs), 'api' for fewer songs (good for testing)
LISTENBRAINZ_DISCOVERY=playlist
# Size of the cover art downloaded from coverartarchive (250 or 500)
COVERART_SIZE=250
# Enrich playlist tracks with full metadata from metadata/recording endpoint
ENRICH_TRACK_METADATA=false

# === Music System Configuration ===
# 'emby', 'jellyfin', 'mpd', 'plex', 'subsonic'
EXPLO_SYSTEM=mpd
# Address of your media system
SYSTEM_URL={{ if .is_wsl }}{{ .windows_gateway }}{{ else }}127.0.0.1{{ end }}:6600
# Username with access to system (required for all except mpd)
SYSTEM_USERNAME=
# Password for the user (required for subsonic, recommended for plex)
SYSTEM_PASSWORD=
# API Key from your media system (required for emby and jellyfin, optional for plex)
API_KEY=
# Name of the music library in your system (emby, jellyfin, plex)
LIBRARY_NAME=
# Mark playlist as public (subsonic, jellyfin)
PUBLIC_PLAYLIST=false

# === Downloader Configuration ===
DOWNLOAD_DIR={{ if .is_wsl }}/mnt/f/Music/_slskd/explo{{ else }}/mnt/media/Music/_slskd/explo{{ end }}
KEEP_PERMISSIONS=true
# Download/move tracks to a subdirectory named after the playlist
USE_SUBDIRECTORY=true
# 'slskd' and/or 'youtube'
DOWNLOAD_SERVICES=slskd
# Path templating; Options are Artist, Album, TrackName, TrackNumber, File, Ext
# PATH_TEMPLATING=""
# Directory for writing .m3u playlists (required only for mpd)
# NOTE: mpd round-trips DOWNLOAD_DIR when generating playlist
PLAYLIST_DIR={{ if .is_wsl }}/mnt/c/Users/{{ .user_name }}/.local/share/mpd/playlists/{{ else }}/home/{{ .user_name }}/.local/share/mpd/playlists/{{ end }}

# === Slskd Configuration ===
SLSKD_URL={{ if .is_wsl }}{{ .windows_gateway }}{{ else }}127.0.0.1{{ end }}:6688
SLSKD_API_KEY={{ decrypt (include "secrets/slskd-api-key.age") | trim }}
# Directory where slskd downloads tracks
SLSKD_DIR={{ if .is_wsl }}/mnt/f/Music/_slskd/downloads{{ else }}/mnt/media/Music/_slskd/downloads{{ end }}
# Move downloaded files from SLSKD_DIR to DOWNLOAD_DIR
MIGRATE_DOWNLOADS=true
RENAME_TRACK=false
SLSKD_RETRY=5
SLSKD_DL_ATTEMPTS=3

# Comma-separated (without spaces) file extensions to download from
EXTENSIONS=mp3,opus,ogg,flac
MIN_BIT_DEPTH=8
MIN_BITRATE=256
# Comma-separated (without spaces) keywords to avoid, when filtering slskd results
FILTER_LIST=live,remix,instrumental,extended,clean,acapella

# === Metadata / Formatting ===
# 'date' or 'week'
PLAYLISTNAME_FORMAT=date
# Set to true to merge featured artists into title (recommended), false appends them to artist field
SINGLE_ARTIST=true
# Overwrite track metadata with metadata from ListenBrainz when moving downloaded tracks (slskd)
OVERWRITE_METADATA=false

# === Misc ===
# Minutes to sleep between library scans
SLEEP=2
# Comma-separated list of MusicBrainz Artist IDs to exclude from import
# ARTIST_BLACKLIST=
# 'DEBUG', 'INFO', 'WARN', 'ERROR'
LOG_LEVEL=INFO
# timeout for music servers (in seconds)
CLIENT_HTTP_TIMEOUT=10
