#!/usr/bin/env bash

nix run nixpkgs#explo -- -c config.env &> explo.log && \
grep "skipping" explo.log 2>/dev/null && \
echo "-------------------------------------------" && \
echo "If desired, download skipped items manually" && \
echo "-------------------------------------------"
{{- if .is_wsl }}

pl_dir=$(grep -oP '^pl_dir=\K.+' config.env | tail -1)
pl_name=$(grep -oP 'playlistName=\K\S+' explo.log | tail -5)
if [ -n "$pl_name" ] && [ -n "$pl_dir" ]; then
  pl_m3u="${pl_dir%/}/$pl_name.m3u"
  [ -f "$pl_m3u" ] && sed -i 's|/mnt/f/Music/||g' "$pl_m3u"
fi
{{- end }}

