{{- if eq .os_id "windows" }}
Set WshShell = CreateObject("WScript.Shell")
WshShell.Run WshShell.ExpandEnvironmentStrings("%USERPROFILE%") & "\scoop\apps\mpd\current\mpd.exe """ & WshShell.ExpandEnvironmentStrings("%USERPROFILE%") & "\.config\mpd\mpd.conf""", 0, False
{{ end -}}
