bind_to_address "0.0.0.0"
port            "6600"

{{- if eq .os_id "windows" }}
music_directory    "F:/Music"
playlist_directory "C:/Users/{{ .user_name }}/.local/share/mpd/playlists"
db_file            "C:/Users/{{ .user_name }}/.local/share/mpd/mpd.db"
log_file           "C:/Users/{{ .user_name }}/.local/share/mpd/mpd.log"
state_file         "C:/Users/{{ .user_name }}/.local/share/mpd/state"
sticker_file       "C:/Users/{{ .user_name }}/.local/share/mpd/sticker.sqlite"
{{- else }}
music_directory    "/mnt/media/music"
playlist_directory "~/.local/share/mpd/playlists"
db_file            "~/.local/share/mpd/mpd.db"
log_file           "~/.local/share/mpd/mpd.log"
state_file         "~/.local/share/mpd/state"
sticker_file       "~/.local/share/mpd/sticker.sqlite"
{{- end }}

restore_paused "yes"

audio_output {
  name "Default Output"
{{- if eq .os_id "windows" }}
  type "winmm" # "wasapi" can't handle bluetooth hotswap
  mixer_type "software"
{{- else }}
  type "pipewire"
{{- end }}
}

audio_output {
  name      "HTTP Stream"
  type      "httpd"
  port      "6680"
  encoder   "lame"
  bitrate   "320"
  format    "44100:16:2"
  always_on "yes"
}

{{ if eq .os_id "windows" -}}
decoder {
  plugin  "wildmidi"
  enabled "no"
}
{{- end }}
