music_directory    "F:/Music"
playlist_directory "C:/Users/{{ .user_name }}/.local/share/mpd/playlists"
db_file            "C:/Users/{{ .user_name }}/.local/share/mpd/mpd.db"
log_file           "C:/Users/{{ .user_name }}/.local/share/mpd/mpd.log"
state_file         "C:/Users/{{ .user_name }}/.local/share/mpd/state"
sticker_file       "C:/Users/{{ .user_name }}/.local/share/mpd/sticker.sqlite"

restore_paused "yes"

audio_output {
  name       "Default Output"
  type       "winmm" # "wasapi" can't handle bluetooth hotswap
  mixer_type "software"
}

decoder {
  plugin  "wildmidi"
  enabled "no"
}

