Windows Registry Editor Version 5.00

[HKEY_CLASSES_ROOT\Directory\background\shell\alacritty_PS]
@="Open PSH terminal here"
"Icon"="C:\\Users\\{{ .user_name }}\\scoop\\persist\\alacritty\\psh.ico"

[HKEY_CLASSES_ROOT\Directory\background\shell\alacritty_PS\command]
@="C:\\Users\\{{ .user_name }}\\scoop\\apps\\alacritty\\current\\alacritty.exe --config-file C:\\Users\\{{ .user_name }}\\scoop\\persist\\alacritty\\alacritty.toml"

