# unbind default keys
noop q
noop <C-w>

# jumplist navigation
prev_state H
next_state L
next_state <C-i>
prev_state <C-o>

# basic movement; NOTE: Y axis is reversed
move_right h
move_down  j
move_up    k
move_left  l

# jump to page No.
goto_page_with_page_number J

# builtin open file dialog
open_document_embedded_from_current_path O
# jump to last opened file
open_last_document <backspace>
# OS-native open file dialog
open_document <C-S-o>
# select from a list of previously opened files
open_prev_doc o

# toggle portal view
toggle_one_window <C-p>

new_window <C-n>

screen_down <C-d>
screen_up   <C-u>

fit_to_page_width       <f1>
fit_to_page_width_smart <f2>

toggle_mouse_drag_mode x

toggle_fullscreen F

add_highlight       ah
toggle_highlight    <f3>

toggle_dark_mode    D
toggle_custom_color C

toggle_statusbar <C-t>

toggle_visual_scroll V

enter_visual_mark_mode <C-v>

goto_mark `
goto_mark '
