check_for_updates_on_startup 0

background_color 0.95 0.95 0.95

dark_mode_background_color 0.05 0.05 0.05

sort_bookmarks_by_location 0

ui_font IosevkaCustom
font_size 16
status_bar_font_size 14

status_bar_color 0.07 0.07 0.07
status_bar_text_color 0.85 0.85 0.85

startup_commands toggle_dark_mode

custom_background_color 0.85 0.80 0.70
custom_text_color 0.1 0.1 0.1

