# ip info
function ipi --description "Query IP info"
  set -l api_token "{{ pass "secrets/scripts/ipi-token" }}"
  if test "$argv" = "me"; or not string length --quiet "$argv"
    curl --compressed -s https://ipinfo.io?token=$api_token
  else
    curl --compressed -s https://ipinfo.io/$argv?token=$api_token
  end
end
